Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [ ]:
data = pd.read_csv('ratings.csv')
data.head(20)

In [ ]:
# filter_8_data = transactions_data[ transactions_data['Product'].str.contains('_8', case=False) ]
data_5_0 = data[data['rating'] == 5.0]
data_5_0.head()

In [ ]:
data_5_0['movieId'].value_counts().head()

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
power_data = pd.read_csv('power.csv')
power_data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [3]:
power_data[power_data['country'].str.contains('lat', case=False)]['country'].unique()

array(['Latvia'], dtype=object)

In [4]:
power_data[power_data['country'].str.contains('lit', case=False)]['country'].unique()

array(['Lithuania'], dtype=object)

In [5]:
power_data[power_data['country'].str.contains('est', case=False)]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [6]:
filtered_countries = power_data[ (power_data['country']=='Latvia') | (power_data['country']=='Lithuania')  | 
                                (power_data['country']=='Estonia')]
filtered_countries.head(20)

        country  year  quantity  category
373   Lithuania  2014      39.0         1
374   Lithuania  2013     192.0         1
375   Lithuania  2012     196.0         1
376   Lithuania  2011     171.0         1
377   Lithuania  2010     158.0         1
378   Lithuania  2009     158.0         1
379   Lithuania  2008     100.0         1
380   Lithuania  2007     105.0         1
956   Lithuania  2014       0.0         1
957   Lithuania  2013       0.0         1
958   Lithuania  2012       0.0         1
959   Lithuania  2011       0.0         1
960   Lithuania  2010       0.0         1
961   Lithuania  2009       3.0         1
962   Lithuania  2008       9.0         1
963   Lithuania  2007       1.0         1
1154  Lithuania  2014      -2.0         1
1155  Lithuania  2013      -1.0         1
1156  Lithuania  2012       3.0         1
1157  Lithuania  2011      -7.0         1

In [7]:
# filtered_countries = filtered_countries[filtered_countries[(filtered_countries['category']==4) | 
#                                                            (filtered_countries['category']==12)]]

filtered_countries = filtered_countries[(filtered_countries['category'] == 4) | (filtered_countries['category'] == 12) | 
                   (filtered_countries['category'] == 21)]
filtered_countries.head()

       country  year  quantity  category
10617  Estonia  2008       1.0         4
10618  Estonia  2007       0.0         4
10619  Estonia  2006       0.0         4
10620  Estonia  2005       1.0         4
10621  Estonia  2004       1.0         4

In [10]:
# filtered_countries = filtered_countries[(filtered_countries['quantity'] >= 0) & 
#                                         (filtered_countries['year'] >= 2005)& 
#                                         (filtered_countries['year'] <= 2010)]

filtered_countries = filtered_countries[(filtered_countries['quantity'] >= 0) & 
                                        (filtered_countries['year'] >= 2005)& 
                                        (filtered_countries['year'] <= 2010) ]

filtered_countries.head(20)

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4
11157  Lithuania  2007       0.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4
12755    Estonia  2008       1.0         4
12756    Estonia  2007       0.0         4
12757    Estonia  2006       0.0         4
12758    Estonia  2005       1.0         4
13294  Lithuania  2008       1.0         4
13295  Lithuania  2007       0.0         4
13296  Lithuania  2006       1.0         4
13297  Lithuania  2005       1.0         4
14647     Latvia  2010       0.0         4
14648     Latvia  2009       0.0         4
14649     Latvia  2008       0.0         4
14650     Latvia  2007       0.0         4

In [11]:
filtered_countries['quantity'].sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [7]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
# pd.read_html(page_url, attrs = {'class': 'table_quotes'}, encoding='utf-8')
pd.read_html(page_url, encoding='utf-8')[1]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1012055,-,1006996,"0,50 %",05058,17:37:00
1,NaN,EUR/RUB,906650,-,904820,"0,20 %",01830,17:35:00
2,NaN,USD/RUB,763225,-,763500,"-0,04 %",-00275,17:36:00
3,NaN,JPY/RUB,07330,-,07297,"0,45 %",00033,17:37:00
4,NaN,CNY/RUB,116416,-,115900,"0,45 %",00516,17:36:00
5,NaN,CHF/RUB,839133,-,836162,"0,36 %",02971,17:36:00
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11879,-,11857,"0,19 %",00023,17:35:00
8,NaN,EUR/GBP,08960,-,08988,"-0,30 %",-00027,17:36:00
9,NaN,EUR/JPY,1237090,-,1239800,"-0,22 %",-02710,17:36:00
10,NaN,EUR/CHF,10806,-,10819,"-0,12 %",-00013,17:36:00
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08418,-,08434,"-0,19 %",-00016,17:37:00
13,NaN,USD/GBP,07544,-,07579,"-0,46 %",-00035,17:37:00
14,NaN,USD/JPY,1041455,-,1045790,"-0,41 %",-04335,17:36:00
15,NaN,USD/CHF,09098,-,09127,"-0,31 %",-00029,17:36:00
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),08100,-,08100,"0,24 %",00000,17:36:00
18,NaN,JPY/GBP,00072,-,00073,"-0,04 %",00000,17:37:00
19,NaN,JPY/USD,00096,-,00096,"0,42 %",00000,17:36:00
20,NaN,JPY/CHF (100:1),08700,-,08700,"0,10 %",00000,17:36:00
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,13257,-,13201,"0,43 %",00056,17:36:00
23,NaN,GBP/JPY,1380480,-,1379946,"0,04 %",00534,17:37:00
24,NaN,GBP/EUR,11161,-,11134,"0,24 %",00027,17:35:00
25,NaN,GBP/CHF,12061,-,12048,"0,11 %",00013,17:35:00
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,12061,-,12048,"0,11 %",00013,17:35:00
28,NaN,EUR/CHF,10806,-,10819,"-0,12 %",-00013,17:36:00
29,NaN,JPY/CHF (100:1),08700,-,08700,"0,10 %",00000,17:36:00
30,NaN,USD/CHF,09098,-,09127,"-0,31 %",-00029,17:36:00
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,334202,-,333346,"0,26 %",00857,17:37:00
33,NaN,USD/UAH,281327,-,281150,"0,06 %",00177,17:35:00
34,NaN,CHF/UAH,309253,-,308042,"0,39 %",01210,17:36:00
35,NaN,GBP/UAH,372927,-,370977,"0,53 %",01950,17:37:00